/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #0b3d91;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  text-align: center;
}

h1, h2 {
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background-color: hsl(205, 86%, 31%);
  color: rgb(11, 9, 9);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #062f70;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
  margin-top: 40px;
}

.candidates label {
  display: block;
  margin: 10px 0;
  font-size: 1.1em;
}

ul#resultsList, ul#ledger {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

ul#resultsList li, ul#ledger li {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #0b3d91;
  border-radius: 5px;
}
